@charset "UTF-8";
/*!
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░╔══════════════════════════════════════╗░░
░░╠ Volkan AKDIR tarafından kodlanmıştır.                        ║░░ 
░░╠ Copyright 2017 Dijitaltek Bilgisayar ve Ağ Çözümleri         ║░░
░░╚══════════════════════════════════════╝░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
@font-face {
  font-family: "dijitaltek";
  src: url(../fonts/dijitaltek.ttf) format("truetype"); }
@font-face {
  font-family: "dijitaltek1";
  src: url(../fonts/1.ttf) format("truetype"); }
@font-face {
  font-family: "menuyazi";
  src: url(../fonts/2.ttf) format("truetype"); }
@font-face {
  font-family: "dijitaltek3";
  src: url(../fonts/3.ttf) format("truetype"); }
@font-face {
  font-family: "dijitaltek_icyazi";
  src: url(../fonts/icyazi.ttf) format("truetype"); }
@font-face {
  font-family: "dijitaltek_yazi";
  src: url(../fonts/banner.ttf) format("truetype"); }
@font-face {
  font-family: "slogan";
  src: url(../fonts/normande.ttf) format("truetype"); }
.aligncenter {
  text-align: center; }

.dijitaltek {
  width: 90%;
  border: 0px solid red;
  padding: 5px;
  margin: -25px 15px 0 0;
  text-align: right;
  font-family: menuyazi;
  font-size: 12px;
  font-weight: none;
  color: white; }
  .dijitaltek a {
    font-family: dijitaltek;
    font-size: 16px;
    font-weight: none;
    color: red;
    text-shadow: 0 0px 4px white, 2px 0px 7px white; }
    .dijitaltek a:hover {
      color: red;
      text-shadow: 0 0px 4px white, 2px 0px 7px white;
      text-decoration: none; }

/*--------------------------------------------------------------
# Preloader1
--------------------------------------------------------------*/
.preloader {
  background: #000 url("../arabirim/bg.png") 0 0 repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  margin: 0 auto; }

.preloader .preloader-circle {
  width: 120px;
  height: 120px;
  position: relative;
  border-style: solid;
  border-width: 4px;
  border-top-color: #ff0000;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: transparent;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.preloader .preloader-circle2 {
  border-top-color: #0078ff; }

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.preloader .preloader-img img {
  max-width: 95px; }

.preloader .pere-text strong {
  font-weight: 800;
  color: #dca73a;
  text-transform: uppercase; }

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; } }
@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; } }
.slick-initialized .slick-slide {
  outline: 0; }

body {
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  background-attachment: fixed !important;
  background: #000 url("../arabirim/bg.png") 0 0 repeat;
  background-origin: padding-box;
  background-clip: border-box; }

#main {
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  min-height: 500px;
  background: #474747 url("../arabirim/bg.png") 0 0 repeat;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border: 2px solid black; }

.icyapi {
  margin: 0;
  padding: 15px;
  padding-right: 10px;
  color: whitesmoke;
  padding-bottom: 15px;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  min-height: 250px;
  line-height: normal;
  text-height: none;
  border-left: 2px solid #4A4A4A;
  border-right: 2px solid #4A4A4A;
  background: #615C3C url("../arabirim/bg.png") 0 0 repeat; }
  
  .icyapi .icerik {
    padding-right: 30px;
    margin-left: 10px;
    align-content: flex-start;
    font-family: century gothic;
    font-size: 16px;
    font-weight: none;
    line-height: 24px;
    text-indent: 30px;
    text-align: left;
    text-shadow: 3px 4px 12px #666633; }

.ibanyapi {
  margin: 0;
  padding: 12px;
  padding-right: 10px;
  color: #000;
  background-color: #615C3C;
  padding-bottom: 15px;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  min-height: 50px;
  line-height: normal;
  text-height: bold;
  border-left: 2px solid #F3CB0C;
  border-right: 2px solid #F3CB0C; }
  .ibanyapi .ibanicerik {
    padding-right: 10px;
    margin-left: 0px;
    align-content: flex-start;
    color: #E6B800;
    font-family: century gothic;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-indent: 30px;
    text-align: left;
    text-shadow: 3px 4px 12px black; }
.d-flex{
  padding-bottom: 10px;
}

.gorev{
  margin: 0;
  padding: 12px;
  padding-right: 10px;
  padding-bottom: 20px;
  color: #fdfafa;
  background-color: #4A4A4A;
  padding-bottom: 15px;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  min-height: 50px;
  line-height: normal;
  text-height: bold;
  border-left: 2px solid #F3CB0C;
  border-right: 2px solid #F3CB0C;
}
.gorev .gorevicerik {
  padding-right: 10px;
  margin-left: 0px;
  align-content: flex-start;
  color: #E6B800;
  font-family: century gothic;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-indent: 30px;
  text-align: left;
  text-shadow: 3px 4px 12px black; }

  .temsilci {
    width: 40%;
    display: table;
    margin:0 auto 0 auto;

}
    .temsilci div {
        display: table-row;        
    }

        .temsilci div div {
            display: table-cell;
            padding-right: 10px;
            margin-left: 0px;
            align-content: flex-start;
            color: #E6B800;
            font-family: century gothic;
            font-size: 12px;
            font-weight: bold;
            line-height: 20px;
            text-indent: 30px;
            text-align: left;
            text-shadow: 3px 4px 12px black;
        }
            .temsilci div div.bas {
              padding-bottom: 10px;
              color: #fff;
              font-family: century gothic;              
              font-size: 14px;
              font-weight: none;
              text-align: center;
              text-shadow: none;

            }
          

.sayfaa {
  margin: 0;
  padding: 15px;
  padding-bottom: 15px;
  width: 100%;
  align-content: flex-start;
  font-size: 14px;
  font-family: century gothic;
  font-weight: none;
  line-height: 24px;
  text-align: left;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px; }

.resimyuvarla {
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px; }

.menubaslik {
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  color: #E6B800;
  font-weight: bold; }

.logo {
  text-align: center; }

.kakeb {
  font-size: 36px;
  font-weight: bold;
  font-family: slogan;
  text-align: center;
  text-decoration: none;
  letter-spacing: .11em;
  padding: 50px 0 10px 0;
  color: yellow;
  text-shadow: 6px 7px 7px black; }
  @media only screen and (min-width: 576px) and (max-width: 768px), (max-width: 576px) {
    .kakeb {
      display: none !important; } }

.ndlogo {
  display: block;
  margin-right: 35px;
  text-align: right; }
  @media only screen and (min-width: 768px) and (max-width: 992px), only screen and (min-width: 576px) and (max-width: 768px), (max-width: 576px) {
    .ndlogo {
      display: none !important; } }

.h-150 {
  height: 150px !important;
  width: 150px !important; }

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  float: center; }

.altfooter {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #4A4A4A;
  color: #F3CB0C;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-bottom: 2px solid #858585; }
  .altfooter .footer_yazi {
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 10px 0;
    text-shadow: 2px 2px 2px #B29380;
    margin-top: 30px;
    margin-bottom: 12px; }

.social-media-link {
  font-size: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: right; }

.social-media-link h3 span {
  color: #FF4F02; }

.social-media-link ul li {
  display: inline-block;
  margin-right: 20px; }

.social-media-link ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  border-radius: 100%;
  background: #000;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }

.social-media-link ul li a:hover {
  background: #FFD25C;
  color: #000; }

.btn-dark {
  color: #fff;
  background-color: #4A4A4A;
  border-color: #343a40; }

.btn-dark:hover {
  color: #000;
  background-color: #FFD25C;
  border-color: #1d2124;
  font-weight: bold; }

.btn-dark.focus, .btn-dark:focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5); }

/*-------------- menu yapılandırması ---------------*/
#menu {
  margin-bottom: 10px;
  height: 55px;
  background-color: #4A4A4A;
  border-right: 30px solid #4A4A4A;
  border-bottom: 3px solid #858585;
  font-family: menuyazi;
  font-size: 16px;
  letter-spacing: .075em;
  text-shadow: 2px 2px 2px white;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px; }
  #menu ul {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 50px;
    list-style-type: none;
    border-top: 10px solid #4A4A4A; }
  #menu li {
    float: left;
    display: block; }
  #menu a {
    display: inline-block;
    text-align: center;
    top: 5px;
    padding: 5px 15px;
    width: 165px;
    text-decoration: none;
    color: #666600;
    background-color: #FFD25C;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px; }
    @media only screen and (min-width: 768px) and (max-width: 992px), only screen and (min-width: 576px) and (max-width: 768px), (max-width: 576px) {
      #menu a {
        width: 125px; } }
    #menu a:hover:not(.active) {
      font-weight: none;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 2px 2px 2px transparent;
      background-color: black;
      border-bottom: 3px solid #F3CB0C;
      color: white;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px; }
  #menu .saklanan-btn {
    display: none;
    cursor: pointer;
    padding: 5px 10px;
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid #4A4A4A;
    border-radius: 8px;
    background-color: transparent;
    float: right;
    z-index: 999; }
  #menu .saklanan-btn .bar1, #menu .saklanan-btn .bar2, #menu .saklanan-btn .bar3 {
    width: 25px;
    height: 2px;
    background-color: yellow;
    margin: 6px 0px;
    transition: 0.4s; }
  #menu .saklanan-change .bar1 {
    transform: rotate(-45deg) translate(-6px, 5px); }
  #menu .saklanan-change .bar2 {
    /*IE8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /*IE 5-7*/
    filter: alpha(opacity=0);
    /*Modern Browsers*/
    opacity: 0; }
  #menu .saklanan-change .bar3 {
    transform: rotate(45deg) translate(-6px, -6px); }
  @media screen and (max-width: 800px) {
    #menu ul {
      display: none;
      position: absolute;
      z-index: 2  !important;
      padding: 0;
      margin: 0;
      top: 50px;
      left: 20px;
      right: 20px;
      background-color: #FFFF66;
      border-top: 15px solid #FFFF66;
      border-bottom: 10px solid #FFFF66;
      border-bottom-right-radius: 25px; }
    #menu li {
      float: none;
      border-bottom: none;
      border-left: 4px solid #FFFF66;
      border-right: 4px solid #FFFF66;
      box-sizing: border-box;
      background-color: #FFFF66;
      text-shadow: 0px 0px 0px transparent; }
    #menu a {
      display: block;
      padding: 12px 24px;
      width: 100% !important;
      text-decoration: none;
      color: #000;
      background-color: #FFFF66;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0; }
      #menu a:hover:not(.active) {
        height: 45px;
        background-color: black;
        color: yellow;
        border: 2px solid #C1A010; }
    #menu .saklanan-btn {
      display: inline-block; } }

/*------------- menu yapılandırması son ------------*/
.swiper-container {
  width: 100%;
  height: 380px; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden; }

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.scrollToTop {
  background-color: #292c33;
  color: #ffa500; }

.scrollToTop:hover, .scrollToTop:focus {
  background-color: #000;
  color: #ffa500;
  border-color: 1px solid #ffa500; }

.scrollToTop {
  bottom: 75px;
  display: none;
  font-size: 32px;
  font-weight: bold;
  height: 40px;
  position: fixed;
  right: 65px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 9;
  border: 1px solid;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.scrollToTop:hover, .scrollToTop:focus {
  text-decoration: none;
  outline: none; }

/*--------------------------------------------------------------
# sayfalar
--------------------------------------------------------------*/
/***** Winston *****/
/*-----------------* /

figure.effect-winston {
	text-align: left;
	margin: 0 0 1em;
}

figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
}

figure.effect-winston figcaption::before {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    content: '';
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s, transform 0.45s;
    /* -webkit-transform: rotate3d(0,0,1,45deg); */
/* transform: rotate3d(0,0,1,45deg); */
/* -webkit-transform-origin: 0 100%; */
    /* transform-origin: 0 100%; * /
}
figure.effect-winston p {
    font-size: 14px;
    margin: 2em 0 0;
    text-transform: capitalize;
    line-height: 1.8em;
	padding: 1em;
	color:#fff;
}

figure.effect-winston:hover img {
	opacity: 0.6;
}

figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
	background:rgba(45, 45, 45, 0.35);
}
.gallery-grid img:hover {
    opacity: .5;
}

*/
.img-thumbnail {
  background-color: #fff !important;
  border: 2px solid #292c33 !important; }

#team .member {
  text-align: justify;
  align-content: flex-start;
  font-family: century gothic;
  font-size: 14px;
  font-weight: none;
  line-height: 24px;
  text-indent: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #3d3d3d url("../arabirim/bg.png") 0 0 repeat;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px; }

#team .member img {
  max-width: 80%;
  max-height: 250px !important;
  border-radius: 50%;
  margin: 0 0 30px 0;
  text-align: center; }

.team .member h4 {
  font-weight: 600px;
  margin-bottom: 2px;
  font-size: 18px; }

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px; }

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: whitesmoke; }

.team .member .social {
  margin-top: 13px;
  text-align: center; }

.team .member .social a {
  color: #92cac3;
  transition: 0.3s; }

.team .member .social a:hover {
  color: #3c8b81; }

.team .member .social i {
  font-size: 18px;
  margin: 0 2px; }

/*--------------------------------------------------------------
# Iletisim
--------------------------------------------------------------*/
.contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  color: #292c33; }

.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  color: #888; }

.contact .social-links {
  padding-bottom: 20px; }

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #292c33;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #70b9b0; }

.contact .social-links a:hover {
  background: #000;
  color: #292c33; }

.contact .info {
  color: #000; }

.contact .info i {
  font-size: 32px;
  color: #292c33;
  float: left;
  line-height: 1; }

.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px; }

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px; }

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600; }

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600; }

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px; }

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite; }

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px; }

.contact .php-email-form button[type="submit"] {
  background: #70b9b0;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s; }

.contact .php-email-form button[type="submit"]:hover {
  background: #92cac3; }

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
:root {
  --gap:20px;
  --fingerSize:40px;
  --gutter:15px;
  --scrollColor:#b80f26;
  --mobileColor:#292c33;
  --borderColor:#d6d6d6; }

a, body, header, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

a {
  text-decoration: none;
  color: inherit; }

img {
  border: 0; }

img, video {
  max-width: 100%;
  height: auto; }

:focus, a:active, a:focus, a:hover {
  outline: 0; }

::-moz-selection {
  color: #fff;
  background: #b80f26; }

::selection {
  color: #fff;
  background: #b80f26; }

::-webkit-input-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

::-ms-input-placeholder {
  color: #999; }

::placeholder {
  color: #999; }

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  font-size: 1rem;
  font-family: sf-pro-regular;
  color: #333; }

.globalWidth {
  width: 1140px;
  margin: 0 auto; }

.maxWidth {
  width: 100%;
  min-width: 1140px;
  margin: 0 auto; }

.notFound_title {
  margin: 0px 0;
  border-bottom: 6px solid #c00d0d;
  padding: 10px 80px 20px 80px;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-family: dijitaltek3;
  color: #3d4a4f;
  text-align: center; }

.notFound_description {
  padding: 0 40px 0 40px; }

.notFound_description p {
  font-size: 1.975rem;
  line-height: 3.375rem;
  font-family: dijitaltek3;
  color: #3d4a4f;
  text-align: center; }

.notFound svg {
  width: 70%;
  margin: 0 auto;
  display: block; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  body[data-page=home]
  .container {
    display: block !important; }

  body[data-page=sub]
  .container {
    display: block !important; }

  .notFound_title {
    border-bottom-width: 4px;
    padding: 0 20px 20px 20px;
    font-size: 30px;
    line-height: 40px; }

  .notFound_description {
    padding: 0 30px 0 30px; }

  .notFound_description p {
    font-size: 20px;
    line-height: 30px; }

  .notFound svg {
    width: 100%; } }
@media screen and (min-width: 320px) and (max-width: 1139px) {
  .globalWidth {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px; }

  .maxWidth {
    max-width: 100%;
    min-width: 100%; } }

/*# sourceMappingURL=arabirim.css.map */
